@model NguyenManhHung_2122110438.Model.DashboardViewModel

<h1>Dashboard</h1>

<h2>Products</h2>
<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Category.Name</td>
            </tr>
        }
    </tbody>
</table>

<h2>Categories</h2>
<ul>
    @foreach (var category in Model.Categories)
    {
        <li>@category.Name</li>
    }
</ul>

<h2>Banners</h2>
<ul>
    @foreach (var banner in Model.Banners)
    {
        <li><img src="@banner.ImageUrl" alt="Banner" /> <a href="@banner.Link">Link</a></li>
    }
</ul>

<h2>Users</h2>
<ul>
    @foreach (var user in Model.Users)
    {
        <li>@user.Username (@user.Email)</li>
    }
</ul>
